<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %} Mi Proyecto {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'AppCoder/css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'Inicio' %}">Inicio</a></li>
                <li><a href="{% url 'Cursos' %}">Cursos</a></li>
                <li><a href="{% url 'Profesores' %}">Profesores</a></li>
                <li><a href="{% url 'Estudiantes' %}">Estudiantes</a></li>
                <li><a href="{% url 'Entregables' %}">Entregables</a></li>
                <li><a href="{% url 'CursoFormulario' %}">Agregar Curso</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
