{% extends 'AppCoder/base.html' %}

{% block title %} Inicio {% endblock %}

{% block main %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Bienvenido a Mi Proyecto</h1>
            <p class="lead fw-normal text-white-50 mb-0">Explore nuestros cursos y más.</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <!-- Puedes agregar contenido aquí, como noticias, ofertas, etc. -->
        </div>
    </div>
</section>
{% endblock %}

